* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 4vw;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 6vw;
  color: rgb(108, 169, 101);
}

.truth-image {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
}

.truth-text {
  position: absolute;
  width: 200px;
  height: 100vh;
  top: 0;
  right: 0;
  overflow-y: auto;
}

.buttons-container {
  display: flex;
  gap: 2vw;
}

.evan-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation-name: evan-fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

button {
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 2vw;
  margin-top: 4vh;
  background-color: rgb(120,124,127);
  color: rgb(200,182,83);
  outline-style: none;
}

button:hover {
  background-color: rgb(114, 117, 121);
}

button:active {
  background-color: rgb(98, 101, 105);
}

@keyframes evan-fade {
  0%   {opacity: 0%;}
  50%  {opacity: 100%;}
  100% {opacity: 0%;}
}